{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Do I Need it NOW?</h1>
        <a href="{{ url_for('index') }}">Torna alla pagina principale</a>
        <hr/>
    </div>
    <div class="container">
    <h2>Di cosa si tratta?</h2>        
    <p>
        "Do I Need it NOW?" è una piattaforma di acquisto consapevole, uno strumento pensato per aiutarti a riflettere prima di effettuare un acquisto impulsivo. <br/>
        Spesso, quando vediamo qualcosa che ci piace, siamo tentati di comprarlo immediatamente senza considerare se ne abbiamo veramente bisogno o se ci sono alternative più sostenibili.
    </p>
    <p>
        Attraverso una serie di domande sarai guidato a valutare la reale necessità dell'acquisto, considerando aspetti come il bisogno che soddisfa, le alternative disponibili e il desiderio reale al di là delle influenze esterne. <br/>
        Se decidi di posticipare l'acquisto, ti invierò un promemoria via email dopo una settimana per rivalutare la tua decisione con una mente più lucida.
    </p>
    <h2>Privacy</h2>
    <p>
            Le informazioni raccolte vengono usate esclusivamente per inviarti il promemoria via email e non saranno condivise con terze parti. Inoltre le informazioni vengono cancellate una volta che viene inviato il promemoria. <br/>
            Non é ancora implementata una politica di privacy formale, ma sto lavorando per assicurarne la massima trasparenza e sicurezza. <br />
            Nel caso in cui volessi cancellare i tuoi dati dalla piattaforma, puoi contattarmi direttamente via email <a href="mailto:loud.street8292@fastmail.com">a questo indirizzo</a>.
    </p>
    <h2>Feedback</h2>
    <p>
        Questo progetto é ancora agli inizi, se hai suggerimenti, domande o commenti, non esitare a contattarmi via email <a href="mailto:loud.street8292@fastmail.com">a questo indirizzo</a> oppure nel fediverso <a href="https://livellosegreto.it/@alorenzi">livellosegreto.it/@alorenzi</a>.
    </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}