<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do I Need it NOW?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Do I Need it NOW?</h1>
        <a href="{{ url_for('index') }}">Torna alla pagina principale</a>
        <hr/>
    </div>
    <div class="container">
    <h2>Di cosa si tratta?</h2>        
    <p>
        "Do I Need it NOW?" è una piattaforma di acquisto consapevole, uno strumento pensato per aiutarti a riflettere prima di effettuare un acquisto impulsivo. <br/>
        Spesso, quando vediamo qualcosa che ci piace, siamo tentati di comprarlo immediatamente senza considerare se ne abbiamo veramente bisogno o se ci sono alternative più sostenibili.
    </p>
    <p>
        Attraverso una serie di domande sarai guidato a valutare la reale necessità dell'acquisto, considerando aspetti come il bisogno che soddisfa, le alternative disponibili e il desiderio reale al di là delle influenze esterne. <br/>
        Se decidi di posticipare l'acquisto, ti invierò un promemoria via email dopo una settimana per rivalutare la tua decisione con una mente più lucida.
    </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>