<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif;">
        
        <p>Ciao,</p>
        
        <p>Per favore conferma la tua email cliccando sul link qui sotto:</p>
        <p><a href="{{ confirmation_link }}">{{ confirmation_link }}</a></p>
        
        
        <p style="margin-top: 30px;">
            Grazie,<br>
            Il team di Do I Need It Now
        </p>
    </div>
</body>
</html>